body{
    background-color: royalblue;
}

button{
    background-color: red;
    color: white;
    float: right;
    margin: 30px;
}

.homepage{
    display: flex;
}
h1{
    float: left;
    margin: 30px;
    color: white;
}

p{
    justify-content: center;
    margin: auto;
    margin-top: 200px;
    color: white;
}
